doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "The Phillipian's annual State of the Academy survey, for 2018.")
    meta(name = "author" content = "Jeffrey Shen")
    title The State of the Academy 2018
    link(rel = "icon" type = "image/png" sizes = "32x32" href = "assets/graphics/favicon.png")
    link(href='bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css' rel='stylesheet' type='text/css')
    link(href='dist/CSS/main.css', rel='stylesheet', type='text/css')
  body
    include components/percentage-slider.pug
    include components/us-map.pug
    include components/piechart.pug
    include components/text-fact.pug
    include components/line-chart.pug
    include components/barcharts/vertical-barchart.pug
    include components/barcharts/horizontal-barchart.pug
    include components/barcharts/stacked-barchart.pug
    include components/barcharts/group-barchart.pug
    #wrapper
      header
        #background
        #img
        img#logo(src = "assets/graphics/logo/light.png") 
        center
          h2.phillipian-name The Phillipian
          h1 State of the Academy
          h3 2018  
      p.caption M.Callahan/The Phillipian
      #text
        //TODO: make p have two columns
        p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham
        br
        br
        .buttons
          a.button(href = "https://github.com/phillipian/State-of-the-Academy-2018" target = "_blank") Source Code
          a.button.button-filled(href = "" target = "_blank") See Raw Data
      #data
        #sidebar
          h2.phillipian-name State of the Academy 2018
          hr.main
          #general-nav.section-nav
            a(href = "#general") General
            ol.sub-nav(hidden)
          #school-nav.section-nav
            a(href = "#school") School
            ol.sub-nav(hidden)
          #politics-nav.section-nav
            a(href = "#politics") Politics &amp; Worldview
            ol.sub-nav(hidden)
          #wellness-nav.section-nav
            a(href = "#wellness") Wellness
            ol.sub-nav(hidden)
          #sex-nav.section-nav
            a(href = "#sex") Sex
            ol.sub-nav(hidden)
          #drugs-nav.section-nav
            a(href = "#drugs") Drugs
            ol.sub-nav(hidden)
          #discipline-nav.section-nav
            a(href = "#discipline") Discipline
            ol.sub-nav(hidden)
          hr.other-hr(align = "left")
        #sections
          -var accent_color = "#094F94"
          #general.section
            br
            h2 General
            p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
            br
            include sections/general.pug
            br 
            hr
          #school.section
            br
            -var accent_color = "#14195C"
            h2 School
            p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
            include sections/school.pug
            br
            hr
          #politics.section
            br
            -var accent_color = "#521A7E"
            h2 Politics &amp; Worldview
            p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
            br
            include sections/politics.pug
            br
            hr
          #wellness.section
            br
            -var accent_color = "#25AA60"
            h2 Wellness
            p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
            br
            h3 On average, how many hours of sleep do you get per night?
            +line_chart("chart", accent_color, 300, "GPA", "Respondents", "./assets/data/wellness/sleep.csv", "false", 1, "", "true")
            h3 Do you feel insecure about your body, physical health, and/or appearance?
            +stacked_barchart("insecure", "#2daa64,#58cc8b,#a1ffc7", 300, "./assets/data/wellness/insecurity.csv", "", "Responses", "Yes (always),Yes (regularly),Yes (sometimes)")
            br
            h3 Do you feel insecure about your academic ability and/or intelligence?
            +stacked_barchart("insecure-intelligence", "#2daa64,#58cc8b,#a1ffc7", 300, "./assets/data/wellness/insecurity-intelligence.csv", "", "Responses", "Yes (always),Yes (regularly),Yes (sometimes)")
            br 
            h3 Have you ever been diagnosed with anxiety?
            +horizontal_barchart("anxiety", accent_color, 200, "./assets/data/wellness/anxiety.csv", "", "Responses", "150")
            h3 Have you ever been diagnosed with depression?
            +horizontal_barchart("depression", accent_color, 200, "./assets/data/wellness/depression.csv", "", "Responses", "150")
            h3 Have you ever had, or do currently have, an eating disorder?
            +horizontal_barchart("eating", accent_color, 200, "./assets/data/wellness/eating.csv", "", "Responses", "150")
            h3 Have you ever engaged, or do you currently engage, in self-harm?
            +horizontal_barchart("self-harm", accent_color, 250, "./assets/data/wellness/self-harm.csv", "", "Responses", "175")
            h3 Generally speaking, do you consider yourself happy at Andover?
            +percentage_slider("are-you-happy", 829, 225, accent_color)
            br
            h3 In general, do you think that Andover students are happy?
            +percentage_slider("are-andover-students-happy", 665, 389, accent_color)
            br
            h3 What social media platforms do you use at Andover?
            p <i>Note: respondents may have selected more than one</i>
            .multipane#social-media(data-labels = "2018,2019,2020,2021,Everyone")
              +vertical_barchart("social-media-2018", accent_color, 250, "./assets/data/wellness/social-media-2018.csv", "", "Responses")
              +vertical_barchart("social-media-2019", accent_color, 250, "./assets/data/wellness/social-media-2019.csv", "", "Responses")
              +vertical_barchart("social-media-2020", accent_color, 250, "./assets/data/wellness/social-media-2020.csv", "", "Responses")
              +vertical_barchart("social-media-2021", accent_color, 250, "./assets/data/wellness/social-media-2021.csv", "", "Responses")
              +vertical_barchart("social-media", accent_color, 250, "./assets/data/wellness/social-media.csv", "", "Responses")
            h3 Have you ever been to Graham House or the Sykes Wellness Center to see a counselor?
            +percentage_slider("counselors", 466, 588, accent_color)
            br
            h3 Have you ever been bullied or hazed while at Andover?
            +horizontal_barchart("bullying", accent_color, 200, "./assets/data/wellness/bullying.csv", "", "Responses", "125")
            h3 Do you feel alone on campus?
            +stacked_barchart("alone", "#2daa64,#58cc8b,#a1ffc7", 300, "./assets/data/wellness/alone.csv", "", "Responses", "Yes (always),Yes (regularly),Yes (sometimes)")
            br
            h3 Sleep by class. 
            +line_chart("chart2", accent_color, 300, "Amount of Sleep", "Responses", "./assets/data/wellness/sleep-class.csv", "false", 4, "2018,2019,2020,2021", "false")
            br
            hr
          #sex.section
            -var accent_color = "#E40066"
            br
            h2 Sex
            p A piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
            br
            include sections/sex.pug
            br
            hr
          #drugs.section
            br
            -var accent_color = "#EE601B"
            h2 Drugs
            p A piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
            br
            h3 Juuling by the years
            +text_fact("28.86%", "of 2016-2017 respondents have juuled")
            +text_fact("39.10%", "of 2017-2018 respondents have juuled")
            h3 Have you ever used hallucinogens or hard drugs?
            p <i>Note: respondents may have selected more than one</i>
            +vertical_barchart("drugs", accent_color, 250, "./assets/data/drugs/drug.csv", "Drug", "Responses")
            h3 Have you ever used pharmaceutical drugs (i.e. "study drugs") in the hopes of enhancing academic performance at Andover?
            +vertical_barchart("study-drugs", accent_color, 250, "./assets/data/drugs/study-drugs.csv", "Drug", "Responses")
            h3 Have you ever sold someone drugs, alcohol, or your prescription medication?
            +vertical_barchart("dealing", accent_color, 250, "./assets/data/drugs/dealing.csv", "Drug", "Responses")
            //TODO: INVERT COLORS
            h3 Have you ever attended a school-sponsored event while under the influence of drugs or alcohol?
            +percentage_slider("school-sponsored-drugs", 226, 820, accent_color)
            br
            h3 How often do you consume drugs or alcohol on campus?
            +vertical_barchart("frequency-drugs", accent_color, 250, "./assets/data/drugs/frequency.csv", "", "Responses")
            h3 Marijuana usage by class.
            p From left to right: 2018, 2019, 2020, 2021
            .pie-center
              +pie_chart("marijuana-class-2018", "77,7,55,151", "Yes (on and off campus),Yes (on campus),Yes (off campus),No", "#eb431c,#d76904,#f59050,#f5b185", 75)
              +pie_chart("marijuana-class-2019", "65,9,29,182", "Yes (on and off campus),Yes (on campus),Yes (off campus),No", "#eb431c,#d76904,#f59050,#f5b185", 75)
              +pie_chart("marijuana-class-2020", "45,5,24,201", "Yes (on and off campus),Yes (on campus),Yes (off campus),No", "#eb431c,#d76904,#f59050,#f5b185", 75)
              +pie_chart("marijuana-class-2021", "11,1,16,168", "Yes (on and off campus),Yes (on campus),Yes (off campus),No", "#eb431c,#d76904,#f59050,#f5b185", 75)
            h3 Alcohol usage by class.
            p From left to right: 2018, 2019, 2020, 2021
            .pie-center
              +pie_chart("alcohol-class-2018", "113,2,119,56", "Yes (on and off campus),Yes (on campus),Yes (off campus),No", "#eb431c,#d76904,#f59050,#f5b185", 75)
              +pie_chart("alcohol-class-2019", "96,3,104,82", "Yes (on and off campus),Yes (on campus),Yes (off campus),No", "#eb431c,#d76904,#f59050,#f5b185", 75)
              +pie_chart("alcohol-class-2020", "49,0,125,101", "Yes (on and off campus),Yes (on campus),Yes (off campus),No", "#eb431c,#d76904,#f59050,#f5b185", 75)
              +pie_chart("alcohol-class-2021", "15,2,73,106", "Yes (on and off campus),Yes (on campus),Yes (off campus),No", "#eb431c,#d76904,#f59050,#f5b185", 75)
            h3 Tobacco usage by class.
            p From left to right: 2018, 2019, 2020, 2021
            .pie-center
              +pie_chart("tobacco-class-2018", "52,2,46,290", "Yes (on and off campus),Yes (on campus),Yes (off campus),No", "#eb431c,#d76904,#f59050,#f5b185", 75)
              +pie_chart("tobacco-class-2019", "49,5,22,285", "Yes (on and off campus),Yes (on campus),Yes (off campus),No", "#eb431c,#d76904,#f59050,#f5b185", 75)
              +pie_chart("tobacco-class-2020", "28,1,21,275", "Yes (on and off campus),Yes (on campus),Yes (off campus),No", "#eb431c,#d76904,#f59050,#f5b185", 75)
              +pie_chart("tobacco-class-2021", "9,1,6,196", "Yes (on and off campus),Yes (on campus),Yes (off campus),No", "#eb431c,#d76904,#f59050,#f5b185", 75)
            h3 Juuling and E-Cig usage by class.
            p From left to right: 2018, 2019, 2020, 2021
            .pie-center
              +pie_chart("juuling-class-2018", "94,11,42,143", "Yes (on and off campus),Yes (on campus),Yes (off campus),No", "#eb431c,#d76904,#f59050,#f5b185", 75)
              +pie_chart("juuling-class-2019", "75,15,28,167", "Yes (on and off campus),Yes (on campus),Yes (off campus),No", "#eb431c,#d76904,#f59050,#f5b185", 75)
              +pie_chart("juuling-class-2020", "60,6,28,181", "Yes (on and off campus),Yes (on campus),Yes (off campus),No", "#eb431c,#d76904,#f59050,#f5b185", 75)
              +pie_chart("juuling-class-2021", "23,12,15,146", "Yes (on and off campus),Yes (on campus),Yes (off campus),No", "#eb431c,#d76904,#f59050,#f5b185", 75)
            h3 Alcohol usage by pressure to use alcohol.
            +stacked_barchart("alcohol-pressure-usage", "#eb431c,#d76904,#f59050,#f5b185", 300, "./assets/data/drugs/alcohol-pressure-usage.csv", "Have you felt pressured to consume alcohol by your peers?", "Percentage from each category", "Yes (I have consumed alcohol on and off campus),Yes (on campus),Yes (off campus),No")
            br
            hr
          #discipline.section
            br
            -var accent_color = "#B11423"
            h2 Discipline
            p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
            br
            h3 Have you ever sat before a Disciplinary Committee (DC)?
            +percentage_slider("dc", 61, 982, accent_color)
            br
            h3 Have you ever committed a major offense without being caught? 
            p (Major offenses include, but are not limited to: academic dishonesty, drugs and alcohol, cruising, gambling, and downloading/sharing sexually explicit content)
            +percentage_slider("major-offense", 463, 580, accent_color)
            br
            h3 Do you think that the administration should have the right to search an entire dorm for contraband material?
            +percentage_slider("dorm-search", 428, 615, accent_color)
            br
            h3 Do you support changes in room visit policies?
            +pie_chart("room-visit", "24,92,927", "Yes (they should be stricter),No,Yes (they should be more lenient)", "#dc3d44,#fb5f66,#90111f")
            h3 Have you ever had an illegal room visit?
            +percentage_slider("ip", 381, 668, accent_color)
            br
            h3 Have you ever been sanctuaried?
            +percentage_slider("been-sanctuaried", 61, 982, accent_color)
            br
            h3 Have you ever sanctuaried someone else?
            +percentage_slider("sanctuaried-someone-else", 58, 985, accent_color)
            br
      footer
        .left
          p <strong>State of the Academy 2018</strong>
            br
            | Website by Jeffrey Shen
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/d3/d3.min.js')
    //script(src='dist/script.js')
    script(src='dist/script-min.js')
