doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "The Phillipian's annual State of the Academy survey, for 2018.")
    meta(name = "author" content = "Jeffrey Shen, Harvey Zheng")
    title The State of the Academy 2018
    link(href='bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css' rel='stylesheet' type='text/css')
    link(href='dist/CSS/main.css', rel='stylesheet', type='text/css')
  body
    include components/percentage-slider.pug
    include components/us-map.pug
    #wrapper
      header
        img#logo(src = "assets/graphics/logo/light.png") 
        center
          h2.phillipian-name The Phillipian
          h1 State of the Academy
          h3 2018
      #text
        //TODO: make p have two columns
        p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham
        br
        br
        .buttons
          a.button(href = "https://github.com/phillipian/State-of-the-Academy-2018" target = "_blank") Source Code
          a.button.button-filled(href = "" target = "_blank") See Raw Data
      #data
        #sidebar
          h2.phillipian-name State of the Academy 2018
          hr
          #general-nav.section-nav
            a(href = "#general") General
            ol.sub-nav(hidden)
          #school-nav.section-nav
            a(href = "#school") School
            ol.sub-nav(hidden)
          #politics-nav.section-nav
            a(href = "#politics") Politics &amp; Worldview
            ol.sub-nav(hidden)
          #diversity-nav.section-nav
            a(href = "#diversity") Community Diversity
            ol.sub-nav(hidden)
          #wellness-nav.section-nav
            a(href = "#wellness") Wellness
            ol.sub-nav(hidden)
          #sex-nav.section-nav
            a(href = "#sex") Sex
            ol.sub-nav(hidden)
          #drugs-nav.section-nav
            a(href = "#drugs") Drugs
            ol.sub-nav(hidden)
          #discipline-nav.section-nav
            a(href = "#discipline") Discipline
            ol.sub-nav(hidden)
        #sections
          -var accent_color = "#74b9ff"
          #general.section
            h2 General
            hr
            p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
            br
            h3 Yes or No Question
            +percentage_slider("yes_or_no", 1000, 200, accent_color)
            br
            h3 Map
            +us_map("us_map", "/assets/graphics/map.svg", "1,2,3,4,5,6,7")
          #school.section
            h2 School
            hr
          #politics.section
            h2 Politics &amp; Worldview
            hr
          #diversity.section
            h2 Community Diversity
            hr
          #wellness.section
            h2 Wellness
            hr
          #sex.section
            h2 Sex
            hr
          #drugs.section
            h2 Drugs
            hr
          #discipline.section
            h2 Discipline
      footer
        .left
          p <strong>State of the Academy 2018</strong>
            br
            | Website by Jeffrey Shen and Harvey Zheng, Graphics by Arno Min and Chris Ward
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/d3/d3.min.js')
    //script(src='dist/script.js')
    script(src='dist/script-min.js')
