doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "The Phillipian's annual State of the Academy survey, for 2018.")
    meta(name = "author" content = "Jeffrey Shen")
    title The State of the Academy 2018
    link(rel = "icon" type = "image/png" sizes = "32x32" href = "assets/graphics/favicon.png")
    link(href='bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css' rel='stylesheet' type='text/css')
    link(href='dist/CSS/main.css', rel='stylesheet', type='text/css')
  body
    include components/percentage-slider.pug
    include components/us-map.pug
    include components/piechart.pug
    include components/text-fact.pug
    include components/line-chart.pug
    include components/barcharts/vertical-barchart.pug
    include components/barcharts/horizontal-barchart.pug
    include components/barcharts/stacked-barchart.pug
    include components/barcharts/group-barchart.pug
    #wrapper
      header
        #background
        #img
        img#logo(src = "assets/graphics/logo/light.png") 
        center
          h2.phillipian-name The Phillipian
          h1 State of the Academy
          h3 2018  
      p.caption M.Callahan/The Phillipian
      #text
        //TODO: make p have two columns
        p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham
        br
        br
        .buttons
          a.button(href = "https://github.com/phillipian/State-of-the-Academy-2018" target = "_blank") Source Code
          a.button.button-filled(href = "https://github.com/phillipian/State-of-the-Academy-2018/blob/master/assets/data/responses.csv" target = "_blank") See Response Data
      #data
        #sidebar
          h2.phillipian-name State of the Academy 2018
          hr.main
          #general-nav.section-nav
            a(href = "#general") General
            ol.sub-nav(hidden)
          #school-nav.section-nav
            a(href = "#school") School
            ol.sub-nav(hidden)
          #politics-nav.section-nav
            a(href = "#politics") Politics &amp; Worldview
            ol.sub-nav(hidden)
          #wellness-nav.section-nav
            a(href = "#wellness") Wellness
            ol.sub-nav(hidden)
          #sex-nav.section-nav
            a(href = "#sex") Sex
            ol.sub-nav(hidden)
          #drugs-nav.section-nav
            a(href = "#drugs") Drugs
            ol.sub-nav(hidden)
          #discipline-nav.section-nav
            a(href = "#discipline") Discipline
            ol.sub-nav(hidden)
          hr.other-hr(align = "left")
        #sections
          -var accent_color = "rgb(12,61,139)"
          #general.section
            br
            h2 General
            br
            include sections/general.pug
            br 
            hr
          #school.section
            br
            -var accent_color = "#14195C"
            h2 School
            p Academics and coursework are a large part of the life of an Andover student, comprising both the school day and an average of 4 hours outside of the classroom, with 115 students spending 6 hours outside of the classroom. On top of coursework, many students also participate in additional extracurricular activities. Nearly 64% of respondents reported that part of the reason they participate in extracurricular activities is to increase the chances of admission to a selective college. When looking at college admissions, Andover students are nearly split as to whether attending Andover would increase their chances of admission to a selective college, with 50.9% reporting that it would help their chances positively and 42.3% reporting that it would negatively impact their chances. 
            include sections/school.pug
            br
            hr
          #politics.section
            br
            -var accent_color = "#521A7E"
            h2 Politics &amp; Worldview
            p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
            br
            include sections/politics.pug
            br
            hr
          #wellness.section
            br
            -var accent_color = "rgb(34,169,96)"
            h2 Wellness
            p Addressing student wellness has been at the forefront of Andover’s mission to help students stay balanced. 78.65% of students generally consider themselves happy at Andover, but only 63.09% of students think Andover students are happy. The largest percentage of students (38.52%) find their support system in their friends, with support systems including faculty and Sykes staff in addition to friends coming in a close second (33.40%). Less than half of the student body has visited Graham House or Sykes Wellness Center to see a counselor. On campus, 166 students have been diagnosed with depression and 187 students have been diagnosed with anxiety.
            br
            include sections/wellness.pug
            br
            hr
          #sex.section
            -var accent_color = "rgb(220,48,138)"
            br
            h2 Sex
            p A piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
            br
            include sections/sex.pug
            br
            hr
          #drugs.section
            br
            -var accent_color = "#EE601B"
            h2 Drugs
            p Students of the Upper socioeconomic class have the highest percentages in ever consuming alcohol, tobacco products, using “juuls,” hallucinogens or hard drugs, pharmaceutical or “study” drugs, or purchasing a fake ID. The Lower socioeconomic class has the highest percentages in using marijuana. Out of all Andover students, 21.61% have attended a school-sponsored event under the influence of drugs or alcohol, while 11.57% have used drugs or alcohol during an academic school day.
            br
            include sections/drugs.pug
            br
            hr
          #discipline.section
            br
            -var accent_color = "rgb(179,21,35)"
            h2 Discipline
            p When it is determined that an Andover student has committed a major offense, they are called upon a Disciplinary Committee (DC) that is usually comprised of their cluster dean, DC representative, cluster co-president, faculty DC representative, and house counselor or day student advisor. If a response to the student’s offense is deemed reputable, there are nine possibilities: Work Hours, Disciplinary Restriction, Bounding, Dean’s Reprimand, Censure, Warning, Probation, Suspension, and Dismissal. 78.04% of students believe that the school’s disciplinary system favors students of privileged backgrounds. Of all socio-economic classes, the highest percentage of students who have ever sat before a DC was lower class (18.18%), but the highest number of students who have ever sat before a DC was of the Upper class (24 students, 7.89% of Upper class respondents).
            br
            include sections/discipline.pug
            br
      footer
        .left
          p <strong>State of the Academy 2018</strong>
            br
            | Website by Jeffrey Shen
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/d3/d3.min.js')
    //script(src='dist/script.js')
    script(src='dist/script-min.js')
