doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "The Phillipian's annual State of the Academy survey, for 2018.")
    meta(name = "author" content = "Jeffrey Shen")
    title The State of the Academy 2018
    link(rel = "icon" type = "image/png" sizes = "32x32" href = "assets/graphics/favicon.png")
    link(href='bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css' rel='stylesheet' type='text/css')
    link(href='dist/CSS/main.css', rel='stylesheet', type='text/css')
  body
    include components/percentage-slider.pug
    include components/us-map.pug
    include components/piechart.pug
    include components/text-fact.pug
    include components/line-chart.pug
    include components/barcharts/vertical-barchart.pug
    include components/barcharts/horizontal-barchart.pug
    include components/barcharts/stacked-barchart.pug
    include components/barcharts/group-barchart.pug
    #wrapper
      header
        #background
        #img
        img#logo(src = "assets/graphics/logo/light.png") 
        center
          h2.phillipian-name The Phillipian
          h1 State of the Academy
          h3 2018  
      p.caption M.Callahan/The Phillipian
      #text
        //TODO: make p have two columns
        p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham
        br
        br
        .buttons
          a.button(href = "https://github.com/phillipian/State-of-the-Academy-2018" target = "_blank") Source Code
          a.button.button-filled(href = "" target = "_blank") See Raw Data
      #data
        #sidebar
          h2.phillipian-name State of the Academy 2018
          hr.main
          #general-nav.section-nav
            a(href = "#general") General
            ol.sub-nav(hidden)
          #school-nav.section-nav
            a(href = "#school") School
            ol.sub-nav(hidden)
          #politics-nav.section-nav
            a(href = "#politics") Politics &amp; Worldview
            ol.sub-nav(hidden)
          #diversity-nav.section-nav
            a(href = "#diversity") Community Diversity
            ol.sub-nav(hidden)
          #wellness-nav.section-nav
            a(href = "#wellness") Wellness
            ol.sub-nav(hidden)
          #sex-nav.section-nav
            a(href = "#sex") Sex
            ol.sub-nav(hidden)
          #drugs-nav.section-nav
            a(href = "#drugs") Drugs
            ol.sub-nav(hidden)
          #discipline-nav.section-nav
            a(href = "#discipline") Discipline
            ol.sub-nav(hidden)
          hr.other-hr(align = "left")
        #sections
          -var accent_color = "#094F94"
          #general.section
            br
            h2 General
            p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
            br
            h3 What class are you in? 
            +horizontal_barchart("class", accent_color, 200, "./assets/data/general/class.csv", "Class", "Responses")
            h3 Are you a boarding student? 
            +percentage_slider("boardingstudent", 780, 283, accent_color)
            br
            h3 Where are you from? 
            .multipane#where-are-you-from(data-labels = "Map,Bar Chart")
              +us_map("us_map", "./assets/graphics/map.svg", "5,658,74,36,79,41,170", accent_color)
              +vertical_barchart("whereareyoufrom", accent_color, 400, "./assets/data/general/map.csv", "Region", "Responses")
            //+text_fact("100%", "of students are students")
            br
            h3 For students from the United States, what is your immigration status?
            +vertical_barchart("immigrationstatus", accent_color, 300, "./assets/data/general/immigration.csv", "Immigration Status", "Responses")
            br 
            h3 What is your ethnicity?
            p <i>Note: respondents may have selected more than one</i>
            +horizontal_barchart("ethnicity", accent_color, 400, "./assets/data/general/ethnicity.csv", "", "Responses", "120")
            h3 Are you a varsity athlete? 
            +percentage_slider("varsityathlete", 484, 579, accent_color)
            br
            h3 What is your gender?   
            +vertical_barchart("gender", accent_color, 300, "./assets/data/general/gender.csv", "Gender Identification", "Responses")
            h3 What is your sexual orientation? 
            p Sexual orientation is "a person's sexual identity in relation to the gender to which they are attracted" (Oxford Dictionaries). Each term is defined as follows:
            ul 
              li Asexual — without sexual attraction
              li Bisexual — sexually attracted to both men and women
              li Demisexual — sexually attracted only after developing an emotional connection
              li Heterosexual — sexually attracted to the opposite sex or gender
              li Homosexual — sexually attracted to the same sex or gender
              li Pansexual — sexually attracted to others, regardless of sex or gender
            +vertical_barchart("sexual-orientation", accent_color, 300, "./assets/data/general/sexual-orientation.csv", "Sexual Orientation", "Responses")
            h3 What is your romantic orientation?   
            p Romantic orientation is "an individual's pattern of romantic attraction based on a person's gender" (AVENwiki). Each term is defined as follows:
            ul
              li Aromantic — without romantic attraction
              li Biromantic — romantically attracted to both men and women
              li Demiromantic — romantically attracted only after developing an emotional connection
              li Heteroromantic — romantically attracted to the opposite sex or gender
              li Homoromantic — romantically attracted to the same sex or gender
              li Panromantic — romantically attracted to others, regardless of sex or gender
            +vertical_barchart("romantic-orientation", accent_color, 300, "./assets/data/general/romantic-orientation.csv", "Romantic Orientation", "Responses")
            h3 Are you on any form of financial aid?
            +percentage_slider("financialaid", 494, 564, accent_color)
            br
            h3 What are your preferred gender pronouns (PGPs)?  
            +vertical_barchart("pgp", accent_color, 300, "./assets/data/general/pgp.csv", "PGP", "Responses")
            h3 If you attend college, will you be a first generation college student?
            +percentage_slider("financialaid", 77, 986, accent_color)
            br
            h3 With which religion or faith system do you identify with now, if any?
            p <i>Note: respondents may have selected more than one</i>
            +horizontal_barchart("religion", accent_color, 400, "./assets/data/general/religion.csv", "Religion", "Responses", "100")
            br 
            hr
          #school.section
            br
            -var accent_color = "#14195C"
            h2 School
            p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
            br
            h3 What was your rounded Winter 2017-2018 (unweighted) G.P.A.?
            p <i>Note: If respondents were between two numbers, they were insttructed to round up to the next closest decimal — a 5.3 G.P.A. would round to a 5.4</i>
            +line_chart("chart", accent_color, 300, "GPA", "Respondents", "./assets/data/school/gpa.csv", "false", 1, "", "true")
            h3 How many hours do you spend on coursework outside of class each day?
            +vertical_barchart("coursework", accent_color, 200, "./assets/data/school/coursework.csv", "Time Spent", "Responses")
            h3 Do you think that grading disparities exist between teachers of the same subject at Andover?
            +percentage_slider("grading-disparities", 1032, 13, accent_color)
            br
            h3 In which department is there the largest grading disparity between teachers?
            +horizontal_barchart("grading-disparity-department", accent_color, 300, "./assets/data/school/grading-disparity.csv", "", "Responses", "170")
            h3 Have you ever switched teachers within the same course in order to attain a better grade?
            +percentage_slider("switching-teacher", 327, 718, accent_color)
            br
            h3 Do you think attending Andover affects your chances of attending a selective college?
            +pie_chart("selective-college", "532,442,71", "Yes (positively),Yes (negatively),No", accent_color)
            h3 Do you think that the majority of your teachers care about your health and well-being?
            +percentage_slider("teacher-wellbeing", 817, 228, accent_color)
            br
            h3 Has attending Andover affected your relationship with your family?
            +pie_chart("relationship-parents", "422,352,271", "Yes (positively),Yes (negatively),No", accent_color)
            //br
            //h3 Multipane Interface
            //.multipane#multipane-1(data-labels = "Line Chart,Scatter Plot,Multiline")
              +line_chart("chart", accent_color, 300, "x-label", "y-label", "./assets/data/line_chart.csv", "false", 1, "false")
              +line_chart("chart1", accent_color, 300, "x-label", "y-label", "./assets/data/line_chart.csv", "true", 1, "false")
              +line_chart("chart2", accent_color, 300, "x-label", "y-label", "./assets/data/line_chart_1.csv", "false", 2, "line 1,line2", "true")
            br
            hr
          #politics.section
            br
            -var accent_color = "#521A7E"
            h2 Politics &amp; Worldview
            p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
            br
            h3 What is your political affiliation? 
            +vertical_barchart("political-affiliation", accent_color, 200, "./assets/data/politics/affiliation.csv", "Political Affiliation", "Responses")
            h3 Do you believe that the United States should increase restrictions on immigration?
            +percentage_slider("immigration", 256, 801, accent_color)
            br
            h3 Do you consider yourself a feminist?
            +percentage_slider("feminism", 798, 259, accent_color)
            br
            h3 Do you believe a female should have the right to choose if she has an abortion?
            +pie_chart("abortion", "777,249,31", "Yes (always),Yes (in some circumstances),No", accent_color)
            h3 Do you think that gun control laws in the United States should change?
            +pie_chart("gun-control", "932,95,30", "Yes (they should be stricter),No,Yes (they should be more lenient)", accent_color)
            h3 Do you support All-Gender Housing at Andover?
            +percentage_slider("all-gender-housing", 921, 136, accent_color)
            br
            h3 While at Andover, have you ever felt the need to censor yourself due to your political leaning?
            +percentage_slider("all-gender-housing", 654, 403, accent_color)
            br
            br
            hr
          #diversity.section
            br
            -var accent_color = "#74b9ff"
            h2 Community Diversity
            hr
          #wellness.section
            br
            -var accent_color = "#25AA60"
            h2 Wellness
            hr
          #sex.section
            -var accent_color = "#E40066"
            br
            h2 Sex
            p A piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
            br
            h3 Have you ever engaged in sexual activity? 
            p <i>Note: respondents may have selected more than one</i>
            .multipane#sexual-activity(data-labels = "Everyone,2018,2019,2020,2021")
              +vertical_barchart("sex", accent_color, 250, "./assets/data/sex/sexual-activity.csv", "", "Responses")
              +vertical_barchart("sex", accent_color, 250, "./assets/data/sex/sexual-activity-2018.csv", "", "Responses")
              +vertical_barchart("sex", accent_color, 250, "./assets/data/sex/sexual-activity-2019.csv", "", "Responses")
              +vertical_barchart("sex", accent_color, 250, "./assets/data/sex/sexual-activity-2020.csv", "", "Responses")
              +vertical_barchart("sex", accent_color, 250, "./assets/data/sex/sexual-activity-2021.csv", "", "Responses")
            h3 How many people have you engaged in sexual activity with?
            +vertical_barchart("sex-partners", accent_color, 250, "./assets/data/sex/sexual-partners.csv", "Number of Partners", "Responses")
            h3 Do you consistently ask your partner for verbal consent?
            +pie_chart("consent", "394,138,517", "Yes,No,Not applicable", accent_color)
            h3 Do you use barrier method protection while engaging in sexual activity?
            p <i>Note: respondents may have selected more than one</i>
            +vertical_barchart("protection", accent_color, 250, "./assets/data/sex/protection.csv", "", "Responses")
            h3 Do you think that the current sexual education curriculum at Andover is adequate?
            +percentage_slider("sex-ed", 697, 352, accent_color)
            br
            h3 Do you believe that there is a hook-up culture at Andover?
            +percentage_slider("hookup-culture", 954, 95, accent_color)
            br
            h3 Have you ever felt pressure by your peers to participate in Andover's hook-up culture?
            +pie_chart("hookup-culture-pressure", "402,582,65", "Yes,No,Not applicable", accent_color)
            br
            hr
          #drugs.section
            br
            -var accent_color = "#EE601B"
            h2 Drugs
            p A piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
            br
            h3 Juuling by the years
            +text_fact("28.86%", "of 2016-2017 respondents have juuled")
            +text_fact("39.10%", "of 2017-2018 respondents have juuled")
            h3 Have you ever used hallucinogens or hard drugs?
            p <i>Note: respondents may have selected more than one</i>
            +vertical_barchart("drugs", accent_color, 250, "./assets/data/drugs/drug.csv", "Drug", "Responses")
            //TODO: INVERT COLORS
            h3 Have you ever attended a school-sponsored event while under the influence of drugs or alcohol?
            +percentage_slider("school-sponsored-drugs", 226, 820, accent_color)
            br
            h3 How often do you consume drugs or alcohol on campus?
            +vertical_barchart("frequency-drugs", accent_color, 250, "./assets/data/drugs/frequency.csv", "", "Responses")
            br
            hr
          #discipline.section
            br
            -var accent_color = "#B11423"
            h2 Discipline
            p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
            br
            h3 Have you ever sat before a Disciplinary Committee (DC)?
            +percentage_slider("dc", 61, 982, accent_color)
            br
            h3 Have you ever committed a major offense without being caught? 
            p (Major offenses include, but are not limited to: academic dishonesty, drugs and alcohol, cruising, gambling, and downloading/sharing sexually explicit content)
            +percentage_slider("major-offense", 463, 580, accent_color)
            br
            h3 Do you think that the administration should have the right to search an entire dorm for contraband material?
            +percentage_slider("dorm-search", 428, 615, accent_color)
            br
            h3 Do you support changes in room visit policies?
            +pie_chart("room-visit", "24,92,927", "Yes (they should be stricter),No,Yes (they should be more lenient)", accent_color)
            h3 Have you ever had an illegal room visit?
            +percentage_slider("ip", 381, 668, accent_color)
            br
            h3 Have you ever been sanctuaried?
            +percentage_slider("been-sanctuaried", 61, 982, accent_color)
            br
            h3 Have you ever sanctuaried someone else?
            +percentage_slider("sanctuaried-someone-else", 58, 985, accent_color)
            br
      footer
        .left
          p <strong>State of the Academy 2018</strong>
            br
            | Website by Jeffrey Shen, Graphics by Arno Min
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/d3/d3.min.js')
    //script(src='dist/script.js')
    script(src='dist/script-min.js')
