mixin horizontal_barchart(id, accent, height, url, xLabel, yLabel) 
  div(id = id class = "barchart barchart-horizontal" data-url = url data-accent = accent data-height = height data-x = xLabel data-y = yLabel)
    .tooltip.hidden.tooltip-horizontal
  
