mixin stacked_barchart(id, accent, height, url, xLabel, yLabel) 
  div(id = id class = "barchart barchart-vertical barchart-stacked" data-url = url data-accent = accent data-height = height data-x = xLabel data-y = yLabel)
    .tooltip.hidden
  
