/*
  components.scss
  Styling for all graphs, visualizations, and other components
*/

.percentage-slider{
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  .left, .right{
    padding: 20px 0;
    box-sizing: border-box;
    display: inline-block;
    font-family: "gotham_bold";
    text-align: center;
    color: $black;
  }
  .left{
    background: white;
  }
}
