mixin line_chart(id, accent, height, x, y, csv, scatter) 
  div(id = id class = "line_chart" data-accent = accent data-x = x data-y = y data-height = height data-csv = csv data-scatter = scatter)
    .tooltip.hidden
  
